body
	padding-top: 40px
	background: url(../images/bcakground.png)

.navbar
	box-shadow: 0 0 10px rgba(0,0,0,.5)
	margin-bottom: 0 !important

.footer
	@media (max-width: 767px)
		margin: 0 -20px
	text-align: center
	padding: 30px 0
	margin-top: 70px
	background-color: rgb(19, 19, 19)
	box-shadow: 0 -5px 50px rgba(0,0,0,.5)
	p
		margin-bottom: 0
		color: #777
	.footer-links
		margin: 10px 0
		li
			display: inline
			padding: 0 2px
			:first-child
				padding-left: 0

.register
	padding-top: 20px