extends ../layouts/default

block head
  title Sign Up - #{site.name}

block body
  .row.padtop
    .span6
      form#sign-up.form-horizontal(method="post", action="/signup")
        legend Sign Up
        .control-group
          label.control-label(for="reg-username") Username
          .controls
            input#reg-username(type="text", name="username", placeholder="Username")
        .control-group
          label.control-label(for="reg-password") Password
          .controls
            input#reg-password(type="password", name="password", placeholder="Password")
        .control-group
          label.control-label(for="reg-email") Email
          .controls
            input#reg-email(type="email", name="email", placeholder="Email")
        .control-group
          label.control-label(for="reg-display-name") Display Name
          .controls
            input#reg-display-name(type="text", name="displayName", placeholder="Display Name")
        .control-group
          label.control-label(for="reg-first-name") First Name
          .controls
            input#reg-first-name(type="text", name="firstName", placeholder="First Name")
        .control-group
          label.control-label(for="reg-middle-name") Middle Name
          .controls
            input#reg-middle-name(type="text", name="middleName", placeholder="Middle Name")
        .control-group
          label.control-label(for="reg-last-name") Last Name
          .controls
            input#reg-last-name(type="text", name="lastName", placeholder="Last Name")
        .control-group
          label.control-label(for="reg-department") Department
          .controls
            select#reg-department(name="department", placeholder="Department")
              option(value="dp") Diploma Program
              option(value="alevel") Alevel
              option(value="ify") IFY
              option(value="myp") MYP
              option(value="pyp") PYP
        .control-group
          label.control-label(for="reg-grade") Grade
          .controls
            input#reg-grade(type="text", name="grade", placeholder="Grade")
        .control-group
          label.control-label(for="reg-class") Class
          .controls
            input#reg-class(type="text", name="class", placeholder="Class")
        .control-group
          .controls
            button.btn.btn-primary(type="submit") Sign Up
    .span6
      form#sign-in.form-horizontal(method="post", action="/login")
        legend Sign In
        p Already signed up? Login here.
        .control-group
          label.control-label(for="log-username") Username
          .controls
            input#log-username(type="text", name="username", placeholder="Username")
        .control-group
          label.control-label(for="log-password") Password
          .controls
            input#log-password(type="password", name="password", placeholder="Password")
        .control-group
          .controls
            button.btn.btn-primary(type="submit") Sign In

block feet
  script(src='/scripts/signup/index.js')