footer.footer
  .container
    p Designed and built with all the love in the world by
      a(href="http://rixtox.com", target="_blank") @RixTox
    p Programmed with all the respect by
      a(href="http://shouya.github.com", target="_blank") @Shou Ya
    ul.footer-links
      li
        a(href="http://metacoder.org") Team Page
      li.muted ·
      li
        a(href="https://github.com/metacoder-bgy/metaphor/issues?state=open") Issues
      li.muted ·
      li
        a(href="https://github.com/metacoder-bgy/metaphor") Project Page
    p &copy; Metacoder 2013