html
	min-height: 100%
	position: relative
body
	padding-top: 50px
	position: static
footer
	position: absolute
	width: 100%
	bottom: 0
	padding: 20px 0
.page
	padding: 20px 0
.navbar-inverse .brand
	border: 0
.navbar-inverse .nav.pull-right > li > a
	border-radius: 0
.navbar-inverse .nav > li > a
	border: 0
.navbar .brand
	text-decoration: none